/bin
/obj
/redirecter/ipch
/redirecter/Debug
/redirecter/Release
/redirecter/redirecter/Debug
/redirecter/redirecter/Release
RECOVER_*.fla
swivel*.exe
Swivel.exe
*.mp4
*.opensdf
*.sdf
*.suo
*.vcxproj.user
Thumbs.db
